.achievement-tab-container {
    position: absolute;
    top: 250px;
    left: 10px;
}
.buttons-regular-ach-tab-color {
    position: absolute;
    white-space: nowrap;
    left: 0px;
    top: 0px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    border-style: outset;
    border-color: #000000ff;
    padding: 5px;
}
.buttons-secret-ach-tab-color {
    position: absolute;
    top: 0px;
    left: 155px;
    background-color: #000000;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 16px;
    color: #ffffffff;
    border-style: outset;
    border-color: #9e9e9e;
    font-weight: bold;
    padding: 5px;
}
.achievements {
    position: absolute;
    background-color: #565656;
    width: 609px;
    height: 1029px;
    top: 300px;
    left: 10px;
}
.achievements-hover {
    font-family: Verdana;
    font-size: 12px;

    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: 10;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    transition: visibility 0.3s, opacity 0.3s;
    text-align: center;
}

.achievement-text-color {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #50bb50;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.achievement-text-test {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.achievement-text-test.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.ach11 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach11:hover .achievements-hover {
    visibility: visible;
}
.ach11-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach11-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach12 {
    position: absolute;
    top: 0px;
    left: 125px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach12:hover .achievements-hover {
    visibility: visible;
}
.ach12-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach12-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach13 {
    position: absolute;
    top: 0px;
    left: 250px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach13:hover .achievements-hover {
    visibility: visible;
}
.ach13-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach13-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach14 {
    position: absolute;
    top: 0px;
    left: 375px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach14:hover .achievements-hover {
    visibility: visible;
}
.ach14-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach14-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach15 {
    position: absolute;
    top: 0px;
    left: 500px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach15:hover .achievements-hover {
    visibility: visible;
}
.ach15-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach15-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach21 {
    position: absolute;
    top: 125px;
    left: 0px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach21:hover .achievements-hover {
    visibility: visible;
}
.ach21-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach21-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach22 {
    position: absolute;
    top: 125px;
    left: 125px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach22:hover .achievements-hover {
    visibility: visible;
}
.ach22-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach22-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach23 {
    position: absolute;
    top: 125px;
    left: 250px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach23:hover .achievements-hover {
    visibility: visible;
}
.ach23-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach23-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach24 {
    position: absolute;
    top: 125px;
    left: 375px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach24:hover .achievements-hover {
    visibility: visible;
}
.ach24-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach24-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach25 {
    position: absolute;
    top: 125px;
    left: 500px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach25:hover .achievements-hover {
    visibility: visible;
}
.ach25-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach25-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach31 {
    position: absolute;
    top: 250px;
    left: 0px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach31:hover .achievements-hover {
    visibility: visible;
}
.ach31-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach31-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach32 {
    position: absolute;
    top: 250px;
    left: 125px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach32:hover .achievements-hover {
    visibility: visible;
}
.ach32-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach32-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach33 {
    position: absolute;
    top: 250px;
    left: 250px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach33:hover .achievements-hover {
    visibility: visible;
}
.ach33-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach33-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach34 {
    position: absolute;
    top: 250px;
    left: 375px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach34:hover .achievements-hover {
    visibility: visible;
}
.ach34-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach34-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach35 {
    position: absolute;
    top: 250px;
    left: 500px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach35:hover .achievements-hover {
    visibility: visible;
}
.ach35-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach35-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach41 {
    position: absolute;
    top: 375px;
    left: 0px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach41:hover .achievements-hover {
    visibility: visible;
}
.ach41-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach41-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach42 {
    position: absolute;
    top: 375px;
    left: 125px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach42:hover .achievements-hover {
    visibility: visible;
}
.ach42-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach42-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach43 {
    position: absolute;
    top: 375px;
    left: 250px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach43:hover .achievements-hover {
    visibility: visible;
}
.ach43-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach43-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach44 {
    position: absolute;
    top: 375px;
    left: 375px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.ach44:hover .achievements-hover {
    visibility: visible;
}
.ach44-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.ach44-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}




.secret-achievements {
    position: absolute;
    background-color: #565656;
    width: 609px;
    height: 1029px;
    top: 300px;
    left: 10px;
}
.secret-achievement-text-color {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.secret11 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.secret11:hover .achievements-hover {
    visibility: visible;
}
.secret11-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.secret11-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.secret12 {
    position: absolute;
    top: 0px;
    left: 125px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.secret12:hover .achievements-hover {
    visibility: visible;
}
.secret12-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.secret12-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.secret13 {
    position: absolute;
    top: 0px;
    left: 250px;
    border-width: 2px;
    border-radius: 2px;
    height: 100px;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-color: #000000ff;
}
.secret13:hover .achievements-hover {
    visibility: visible;
}
.secret13-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.secret13-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}