.options-boxes {
    display: inline-flex;
    position: absolute;
    top: 250px;
}
.refresh-rate {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.saving {
    text-align: center;
    position: absolute;
    left: 340px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.notations {
    text-align: center;
    position: absolute;
    left: 680px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.game-saved-text-color {
    position: fixed;
    left: 550px;
    bottom: 10px;
    background-color: #1a1a1a;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.game-saved-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-saved-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-loaded-text-color {
    position: fixed;
    left: 550px;
    bottom: 10px;
    background-color: #1a1a1a;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.game-loaded-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-loaded-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.italic {
    font-style: italic;
    font-family: Verdana;
    font-size: 12px;
    line-height: 1.5;
}
.bold {
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.5;
}
.center-align {
    text-align: center;
}
.cheat-box-hehe {
    position: absolute;
    top: 8px;
    right: 16px;
    font-family: Verdana;
    font-size: 12px;
}
.display-block {
    display: block;
}
.softcap {
    font-family: Verdana;
    font-size: 12px;
    color: rgb(169, 0, 0);
    font-weight: bold;
}
.scroll {
    height: 2000px;
}
.funny {
    position: relative;
    top: 1500px;
    left: 555px;
}
.jumpscare-video {
    display: none;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;
}