.buttons-lu {
    position: absolute;
    line-height: 0.4;
    top: 250px;
    left: 10px;
}
.buttons-lu-color {
    background-color: #50bb50;
    color: #ffffffff;
    font-family: Verdana;
    font-size: 12px;
}
.buttons-su {
    position: absolute;
    line-height: 0.4;
    top: 250px;
    left: 10px;
}
.buttons-su-color {
    background-color: #dc8616ff;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    border-style: outset;
    border-color: #dc4b16ff;
}
.buttons-fu {
    position: absolute;
    line-height: 0.4;
    top: 300px;
    left: 10px;
}
.buttons-fu-color {
    background-color: #de0e0e;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    border-style: outset;
    border-color: #9a1616;
}
.buttons-eu {
    position: absolute;
    line-height: 0.4;
    top: 300px;
    left: 10px;
}
.buttons-eu-color {
    background-color: #2077ba;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    border-style: outset;
    border-color: #5ea4da;
}
.buttons-temple {
    position: absolute;
    line-height: 0.4;
    top: 300px;
    left: 10px;
}
.buttons-lru-holder {
    position: absolute;
    line-height: 0.4;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 418px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
    visibility: hidden;
}
.buttons-lru {
    position: absolute;
    line-height: 0.4;
    top: 260px;
    left: 0.25px;
    width: 492px;
    height: 150px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
}
.buttons-sru-holder {
    position: absolute;
    line-height: 0.4;
    top: 0px;
    left: 520px;
    width: 500px;
    height: 418px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
    visibility: hidden;
}
.buttons-sru {
    position: absolute;
    line-height: 0.4;
    top: 260px;
    left: 0.25px;
    width: 492px;
    height: 150px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
}
.buttons-fru-holder {
    position: absolute;
    line-height: 0.4;
    top: 438px;
    left: 0px;
    width: 500px;
    height: 418px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
    visibility: hidden;
}
.buttons-fru {
    position: absolute;
    line-height: 0.4;
    top: 260px;
    left: 0.25px;
    width: 492px;
    height: 150px;
    color: #dcd3c9;
    background-color: #c7b39d;
    border-color: #b8a38c;
    border-style: outset;
    font-family: Verdana;
}

.buttons-lu-repeatable-color {
    background-color: #50bb50;
    color: #dcd3c9;
    border-color: #c4b2a1;
    font-family: Verdana;
    font-size: 12px;
}
.buttons-su-repeatable-color {
    background-color: #dc8616;
    color: #dcd3c9;
    border-color: #c4b2a1;
    font-family: Verdana;
    font-size: 12px;
}
.buttons-fu-repeatable-color {
    background-color: #de0e0e;
    color: #dcd3c9;
    border-color: #c4b2a1;
    font-family: Verdana;
    font-size: 12px;
}

.buttons-rou {
    position: absolute;
    line-height: 0.4;
    top: 300px;
    left: 10px;
}
.buttons-rou-color {
    background-color: #edac13;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    border-style: outset;
    border-color: #ed9613;
}