.options-boxes {
    display: inline-flex;
    position: absolute;
    top: 250px;
}
.refresh-rate {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.saving {
    text-align: center;
    position: absolute;
    left: 340px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.notations {
    text-align: center;
    position: absolute;
    left: 680px;
    top: 0px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.cheat-box-hehe {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 172.5px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.game-saved-text-color {
    position: fixed;
    left: 550px;
    bottom: 10px;
    background-color: #1a1a1a;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.customization {
    text-align: center;
    position: absolute;
    left: 680px;
    top: 115px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.load-game-stages {
    text-align: center;
    position: absolute;
    left: 340px;
    top: 195px;
    width: 305px;
    font-family: Verdana;
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    z-index: 11;
}
.game-saved-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-saved-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-loaded-text-color {
    position: fixed;
    left: 550px;
    bottom: 10px;
    background-color: #1a1a1a;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}
.game-loaded-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.game-loaded-text.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}
.italic {
    font-style: italic;
    font-family: Verdana;
    font-size: 12px;
    line-height: 1.5;
}
.bold {
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.5;
}
.center-align {
    text-align: center;
}
.centered-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bottom-right-element {
	position: absolute;
	bottom: 0%;
	right: 0%;
}
.display-block {
    display: block;
}
.scaryButton {
	color: white;
	background-color: #d61e1e;
	border-color: #991212;
	border-style: outset;
}
.softcap {
    font-family: Verdana;
    font-size: 12px;
    color: #a90000;
    font-weight: bold;
}
.softcap2 {
    font-family: Verdana;
    font-size: 12px;
    color: #640000;
    font-weight: bold;
}
.softcap3 {
    font-family: Verdana;
    font-size: 12px;
    color: #c96b00;
    font-weight: bold;
}
.softcap4 {
    font-family: Verdana;
    font-size: 12px;
    color: #e2de00;
    font-weight: bold;
}
.softcap5 {
    font-family: Verdana;
    font-size: 12px;
    color: #22cd00;
    font-weight: bold;
}
.softcap6 {
    font-family: Verdana;
    font-size: 12px;
    color: #00cd7b;
    font-weight: bold;
}
.softcap7 {
    font-family: Verdana;
    font-size: 12px;
    color: #0071cd;
    font-weight: bold;
}
.softcap8 {
    font-family: Verdana;
    font-size: 12px;
    color: #5c00cd;
    font-weight: bold;
}
.supercap {
	color: #ffffff;
	font-family: Verdana;
	font-size: 12px;
	height: 15px;
    width: 350px;
	background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
	text-shadow: -1px 1px #000000;
    font-weight: bold;
}
.top30 {
	position: relative;
	left: 1px;
	top: 30%; 
}
.softcap-storm {
    font-family: Verdana;
    font-size: 12px;
    color: #0d1378;
    font-weight: bold;
}
.game-speed {
	color: #ffffff;
	font-family: Verdana;
	font-size: 12px;
	height: 15px;
    width: 130px;
	background: blue;
	text-shadow: -1px 1px #000000;
}
.white-background {
	background-color: white;
	padding: 2.5px;
	border-radius: 5px;
}
.scroll {
    height: 2000px;
}
.funny {
    position: relative;
    top: 1500px;
    left: 555px;
}
.jumpscare-video {
    display: none;
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;
}

body {
	background-color: white;
}