.resource-container {
    display: inline-flex;
    position: relative;
    top: 8px;
    left: 16px;
    height: 100px;
    gap: 20px;
}
.leaves {
    line-height: 0.4;
    font-family: Verdana;
    font-size: 12px;
    white-space: nowrap;
	background-color: white;
	border-radius: 5px;
}
.tree-age {
    line-height: 0.4;
    position: absolute;
    left: 135px;
    font-family: Verdana;
    font-size: 12px;
    white-space: nowrap;
	background-color: white;
	border-radius: 5px;
}
.seeds {
    line-height: 0.4;
    position: absolute;
    left: 270px;
    font-family: Verdana;
    font-size: 12px;
    z-index: 1;
    white-space: nowrap;
    visibility: hidden;
	background-color: white;
	border-radius: 5px;
}
.fruits {
    line-height: 0.4;
    position: absolute;
    left: 435px;
    font-family: Verdana;
    font-size: 12px;
    z-index: 1;
    white-space: nowrap;
    visibility: hidden;
	background-color: white;
	border-radius: 5px;
}
.seeds-reset-button {
    position: absolute;
    left: 315px;
    top: 80px;
    z-index: 2;
    color: #ffffffff;
    visibility: hidden;
}
.fruits-reset-button {
    position: absolute;
    left: 475px;
    top: 70px;
    z-index: 2;
    color: #ffffffff;
    visibility: hidden;
}
.entropy {
    line-height: 0.4;
    position: absolute;
    left: 600px;
    font-family: Verdana;
    font-size: 12px;
    z-index: 1;
    white-space: nowrap;
    visibility: hidden;
	background-color: white;
	border-radius: 5px;
}
.entropy-reset-button {
    position: absolute;
    left: 40px;
    top: 62.5px;
    z-index: 2;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    background-color: #2077ba;
    border-style: outset;
    border-color: #5ea4da;
    visibility: hidden;
}
.roots {
    line-height: 0.4;
    position: absolute;
    left: 760px;
    font-family: Verdana;
    font-size: 12px;
    z-index: 1;
    white-space: nowrap;
    visibility: hidden;
	background-color: white;
	border-radius: 5px;
}
.roots-reset-button {
    position: absolute;
    left: 40px;
    top: 62.5px;
    z-index: 2;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffffff;
    background-color: #edac13;
    border-style: outset;
    border-color: #ed9613;
    visibility: hidden;
}